main {
    display: flex;
    justify-content: space-between;

    textarea {
        width: 49.5%;
        resize: none;
    }

    .result-area {
        display: flex;
        flex-direction: column;
        width: 49.5%;

        pre {
            height: 100%;
            overflow: auto;
        }

        .resume-area {
            margin-left: 15px;
            height: 100%;
            overflow: auto;
        } 
    }

    @media (max-width: 760px) {
        display: block;

        .result-area {
            width: 100%;
        }

        textarea {
            min-height: 250px;
        }

        textarea, pre {
            width: 100%;
        }
    }
}