:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-muted: #6c7086;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'JetBrains Mono', monospace;
}

#root, body, html {
  height: 100%;
  background: #1e1e2e;
  color: #cdd6f4;
}

body {
  overflow: hidden;
}
